<section class="bannerBtm bannerBtm2"><a href="<?= PCMS_URL ?>/datmua-pubokid.html"><img src="<?= URL_IMAGES ?>/banner2.jpg" alt="" /></a> </section>
<section class="contentD">
  <div class="container">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="lBox">
         <?php $core->getBlock("truycapnhanh") ?>
      </div>
      <div class="lBox">
        <?php $core->getBlock("ykienkhachhang") ?>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="path clearfix">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul class="pathL clearfix">
            <li><a href="#">Trang chủ</a></li>
            <li>Điểm bán</li>
          </ul>
        </div>
      </div>
      <div style="color:#000;">
      <?= $oneCat['content'] ?>
      </div>
    </div>
  </div>
</section>