<section class="bannerBtm bannerBtm2"> <a href="<?= PCMS_URL ?>/datmua-pubokid.html"><img src="<?= URL_IMAGES ?>/banner2.jpg" alt="" /></a> </section>
	<section class="contentD" style="background: #ffffff;">
	  <div class="container" style="text-align: center;">
			<img src="<?= PCMS_URL ?>/upload/dathangthanhcong.jpg?v5" style="max-width:100%" width="500px" alt=""> 
		</div>
	</section>
</section>
<script>
fbq('track', 'CompleteRegistration', {
value: 25.00,
currency: 'USD'
});
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 868366366;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "vbFGCMTh53IQnvCIngM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/868366366/?label=vbFGCMTh53IQnvCIngM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>