<section class="footer clearfix">
  <div class="container clearfix">
    <div class="footerInner clearfix">
      <div class="col-sm-4 col-md-4 col-sm-4 fItem">
        <h3>CÔNG TY CỔ PHẦN DƯỢC PHẨM QUỐC TẾ THIÊN PHÚ</h3>
        <p class="fL">Trụ sở: Số nhà 10A1,Ngõ 73 Nguyễn Trãi, phường Khương Trung,Quận Thanh Xuân, TP Hà Nội</p>
        <p class="fP">024 3854 0999</p>
      </div>
      <div class="col-sm-4 col-md-4 col-sm-4 fItem">
        <h3>Công ty CP Đầu tư & Sản xuất Âu Cơ </h3>
        <p class="fL">Sản xuất bởi: Công ty Cổ phần Đầu tư và Sản xuất Âu Cơ<br>
          Lô A2 - Đường CN5 - CCNTT Vừa và nhỏ Từ Liêm - Minh Khai, Bắc Từ Liêm, Hà Nội</p>
        <p class="fP">024 3854 0999</p> 
      </div>
      <div class="col-sm-4 col-md-4 col-sm-4 fItem">
        <h3>Công ty TNHH TƯ VẤN Y DƯỢC QUỐC TẾ (IMC)</h3>
        <p class="fL">Sản phẩm của: Công ty TNHH TƯ VẤN Y DƯỢC QUỐC TẾ (IMC )<br>
          B18+ 19 khu B Hoàng Cầu, Đống Đa, Hà Nội</p>
        <p class="fP">024 3854 0999</p>
      </div>
    </div>
  </div>

</section>
<section class="footerB">
  <div class="container">
    <div class="col-sm-10 col-md-10 col-sm-10"> <span class="dtb"><img src="<?= URL_IMAGES ?>/dathongbao.png" alt="" /></span> <span class="giayphep">GPQC: Số 00775/2017/ATTP-XNQC</span> <span class="banquyen">Bản quyền thuộc về Công Ty Cổ Phần Dược phẩm Quốc Tế Thiên Phú</span> </div>
    <div class="col-sm-2 col-md-2 col-sm-2">
      <ul class="fsocial clearfix">
        <li><a href="#"><img src="<?= URL_IMAGES ?>/fF.png" alt="" /></a></li>
        <li><a href="#"><img src="<?= URL_IMAGES ?>/fT.png" alt="" /></a></li>
        <li><a href="#"><img src="<?= URL_IMAGES ?>/fG.png" alt="" /></a></li>
      </ul>
    </div>
  </div>
</section>