<div class="content_main pkg">
  
  <div class="head_cart pkg"> <span class="f24 fl">Khôi phục mật khẩu</span>  </div>
  <div class="detail_content pkg">
  
  <div class="pkg ">

  
  <form id="myformreset" action="" method="post" enctype="multipart/form-data">
       <table class="tbl_contact_buy" width="430" cellpadding="0" cellspacing="0" style="margin:0 auto"> 
    
      	<tr><td colspan="2" align="center">  
          <div class="head_rate">Hãy nhập địa chỉ Email của bạn vào đây để<br/> khôi phục mật khẩu</div>
          </td>
       </tr>

        <tr><td align="right"> Email: *</td>
            <td align="center"><input type="text" class="txt_email"  name="user_name_r"/></td>
        </tr>
        <?php if($_GET['token_key']) {  ?>
          <tr>
            <td>Mật khẩu mới* :</td>
            <td align="center"><input type="password" class="txt_info" name="user_pass_r"/></td>
          </tr>
        <?php } ?>
      </table>
  </form>
  
</div>

   <div align="center"><a href="" class="btn_buy_detail btn_submit">Lấy lại mật khẩu</a></div>
  
  </div>
 
</div>
<script>
    <?php if($mess) { ?>
        core._showAlertPopup('<?= $mess ?>');
    <?php $mess = ''; } ?>
    $('.btn_submit').click(function(){
        $('#myformreset').submit();
        return false;
    });
</script>
